* {margin:0;padding:0;}
article, header, main, nav, footer, section, aside{ display:block;}
body {
 background: black;
 background-image: url('images/photo.png');
 min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
background-size: 100%;
}
@font-face {
   font-family: BlenderCondensed;
   src: url('../includes/BlenderCondensed.otf');
}
@font-face {
   font-family: Blender; 
   src: url('../includes/Blender.otf');
}
@font-face {
   font-family: BlenderBold; 
   src: url('../includes/BlenderBold.otf');
}
#wrapper {
  margin: 0 auto;
  width: 100%;
}


.graph .labels.y-labels {
  text-anchor: end;
}
text{
  fill:#ffffff;
  font-family: "Fb scorpion";
}
.graph {
    height: 8%;
    width: 87%;
    position: absolute;
    top: 80%;
}
#yearLine{
    width: 80%;
    position: absolute;
    height: 0.7%;
    background: #ffffff;
    top: 83.5%;
    left: 4.8%;
    background-image: url('images/graph.png');
}
#yearLine .left{
    border-left: 1px #fff solid;
    height: 53%;
    width: 22%;
    top: -24px;
    position: relative;
}
#yearLine .right{
    border-right: 1px #fff solid;
    height: 53%;
    width: 22%;
    top: -24px;
    position: relative;
    left: 99.9%;
}
#yearLine h6{
    color: white;
    font-family: Blender;
    font-weight: normal;
    font-size: 0.9em;
    top: -25px;
    position: relative;
}
#yearLine .y2016{
    left: 97.5%;
    top:-60px;
} 
/* End of graph */

/*header*/
nav{
  position: absolute;
  right: 1.4%;
  top: 5%;
  width: 11.5%;
  text-align: right;
  z-index: 99999990;
}
nav section{
  background: rgba(100, 100, 100, 0.6);
  margin-bottom: 7%;
  position: relative;
}
section h5{
  color: #ffffff;
  font-family: "Fb scorpion";
  text-align: center;
  padding: 4% 0% 4% 0%;
  margin: 0%;
  font-size: 0.8em;
 }
h5 span{
  margin: 0px 10px 0px 10px;
  top: 5px;
  position: relative;
  font-family: "blender";
  font-size: 1.204em;/* Approximation due to font substitution */
font-weight: 400;
}

/*
label
*/

input[type='radio'] {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: hidden;
    border: 2px solid white;
}




input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 5px;
    position: relative;
    background-color: #6acce0;
    content: '';
    display: inline-block;
    visibility: visible;
    color:#6acce0;
    left: 5%;
}
label{
  display: block;
  direction: rtl;
  color: #ffffff;
  font-size: 13px;
  padding: 3% 4% 4.5% 5%;
  font-family: "blender";
  cursor: pointer;
  position: relative;
}

label span{
  left: 15%;
  position: absolute;
}
label:hover{
  padding: 3% 15% 4.5% 5%;
}

.divAlbum{
  display: block;
}
#container{
    width: 80%;
    top: 210px;
    left: 5%;
    position: absolute;
}
.clear{
  clear:both;
}
.year_1969,
.year_1970,.year_1971,.year_1972,.year_1973,.year_1974,.year_1975,.year_1976,.year_1977,.year_1978,.year_1979,
.year_1980,.year_1981,.year_1982,.year_1983,.year_1984,.year_1985,.year_1986,.year_1987,.year_1988,.year_1989,
.year_1990,.year_1991,.year_1992,.year_1993,.year_1994,.year_1995,.year_1996,.year_1997,.year_1998,.year_1999,
.year_2000,.year_2001,.year_2002,.year_2003,.year_2004,.year_2005,.year_2006,.year_2007,.year_2008,.year_2009,
.year_2010,.year_2011,.year_2012,.year_2013,.year_2014,.year_2015,.year_2016{
    width: 1.2%;
    float:left;
    position: relative;
    margin:0px auto;
    margin-right: 0.88%;
    
}
nav h6{
    color: #ffffff;
    text-align: center;
    font-family: "Blender";
    font-size: 0.75em;
    font-weight: 100;
    transform: scaleY(1.4);
    margin-top: 3px;
}
nav h3{
   color: #ffffff;
    text-align: center;
    font-family: "BlenderConsensed";
    font-size: 1.7em;
    font-weight: 400;
    transform: scaleY(1.4);

}
#text{
  margin-top:10%;
  background: none;
}
img{
  display: block;
  width: 15px;
  height:15px;
  position: relative;
  cursor: pointer;
  z-index: 999999999;
  margin-bottom: 5px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}
img:hover {
    z-index: 9999999999;
    -webkit-transform: scale(9); 
    -moz-transform: scale(9);
    -o-transform: scale(9);
    transform: scale(9);
 }
 /*All the bottom data*/
 #footerData{
    bottom: 0%;
    position: absolute;
    width: 85%;
    height: 100px;
 }
 .common_word,.common_hashtag,.common_category,.sum_words{
position: relative;
    float: right;
    width: 17%;
    direction: rtl;
    font-size: 1.4em;
    top: 25px;
 }
 .sum_words{
    right: 15%;
 }
#commonWord,#commonHashtag,#commonCatregory,#sumWords{
    font-family: "Fb scorpion";
    color: #8b8b8b;
}
/*End of All the bottom data*/
/* Cursor  */
#cursor,#line {
    background: #fff;
}
#line {
    width: 1px;
    top: 0;
    opacity: 0.5;
}
#line, #mouse_move {
    position: absolute;
    height: 100%;
}
#mouse_move {
   z-index: 9999999;
    cursor: none;
}
#cursor {
    width: 8px;
    height: 8px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    -webkit-transition: width .5s, height .5s, margin-left .5s, margin-top .5s, margin-right .5s, margin-bottom .5s;
    -moz-transition: width .5s, height .5s, margin-left .5s, margin-top .5s, margin-right .5s, margin-bottom .5s;
    transition: width .5s, height .5s, margin-left .5s, margin-top .5s, margin-right .5s, margin-bottom .5s;
    margin-left: -7px;
}
#current_year,#yearNow {
    z-index: 3;
    font-size: 11px;
    -webkit-transition: margin-left .3s linear;
    -moz-transition: margin-left .3s linear;
    transition: margin-left .3s linear;
    margin-left: 3px;
    width: 130px;
    height: 16px;
    margin-top: 15px;
    display: none;
    text-align: left;
}
#yearNow{
  position: relative;
  top: 74%;
  font-family: "Blender";
}
#current_year span {
    font-weight: 400;
}

#current_year h6{
  text-align: right;
  font-size: 1.2em;
  color:#ffffff;
  direction: rtl;
  font-family: "Blender";
}
#current_year #position, #yearNow h6{
  color:#6acce0;
   font-size: 1.3em;
}
#current_year #artistName{
  font-weight: bold;
}
#songLyrics{
    width: 220px;
    background: rgba(100, 100, 100, 0.9);
    color: #ffffff;
    font-family: "Blender";
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    z-index: 9999999;
    direction: rtl;
    top: 10px;
    display: none;
    margin-left: -100%;
    height: 80%;
}
#songLyrics2{
    width: 220px;
    background: rgba(100, 100, 100, 0.9);
    color: #ffffff;
    font-family: "Blender";
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    z-index: 9999999;
    direction: rtl;
    top: 10px;
    display: none;
    height: 80%;
}


/* end of Cursor  */

/*graph line*/

/* tell the SVG path to be a thin blue line without any area fill */
/*path {
stroke: steelblue;
stroke-width: 1;
fill: none;
}

.axis {
shape-rendering: crispEdges;
}

.x.axis line {
stroke: lightgrey;
}

.x.axis .minor {
stroke-opacity: .5;
}

.x.axis path {
display: none;
}

.y.axis line, .y.axis path {
fill: none;
stroke: #000;
}*/
